@{
    ViewData["titleBreadcrumb"] = "Perfil";
    ViewData["hrefCurrentView"] = "/profile";
    ViewData["titleCurrentView"] = "Consulta Perfil";
}
<div class="content-body">

    <div class="card">
        <div class="card-header">
            <h4 class="card-title"></h4>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i data-feather="chevron-down"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show" aria-expanded="true">
            <div class="card-body">
                <div class="row col-12">
                    <div class="col-lg-6 col-md-12 mb-1">
                        <div id="input-file" class="input-group cursor-pointer">
                            <button class="btn btn-outline-primary waves-effect" id="button-addon2" type="button">@@</button>
                            <input type="text" id="id-name" class="form-control" placeholder="Preencher o @@ do seu Perfil" aria-describedby="button-addon2">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-1">
                        <button class="create-new btn btn-primary" id="btn_Salvar" type="button">Consulta Perfil</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
